
:root{

    --primary-color: #c7a17a;
    --background-color: #f9f5f0;
    --dark-color: #151515;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilidades */

.container{
    max-width: 120rem;
    margin: 0 auto;
}

/* header */

.container-hero{
    background-color: var(--background-color) ;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.content-customer-support{
    display: flex;
    flex-direction: column;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-logo h1 a{
    text-decoration: none;
    color: black;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.content-shopping-cart{
    display: flex;
    flex-direction: column;
}

.cont-icon{
    border-right: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navbar */

.container-navbar{

    background-color: var(--primary-color);

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.btn-menu{
    display: none;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}